{%extends 'main/base.html'%}
{% load static %}


{% block title %}Contact Us{%endblock%}
{% block content %}

<div class="contact-page">
    <section class="lt-side">

    <h1>Contact us</h1>
    <h6> Subheading for description or instructor</h6>

    
    <form action="" class="form-contact">
        <div class="row g-3">
        <div class="col">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" placeholder="Enter first name">
        </div>

        <div class="col">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter last name">
        </div>
        </div>
        <div class="col">
            <label class="form-label"> Email address</label>
            <input type="email" class="form-control w-100" placeholder="Enter Email">
        </div>

        <div class="col">
            <label class="form-label"> Your message</label>
             <textarea class="form-control w-100" rows="6" placeholder="Enter your question or message"></textarea>
        </div>

        <input type="submit" class="btn btn-dark" name="" id="" value="Submit">
        
        
    </form>

    </section>

    <section class="rt-side">
        <img src="{% static 'image/plants-contact.jpg'%}" >
    </section>
</div>



{% endblock %}