<footer class="bg-white border-top mt-auto">
        <div class="container py-4 py-md-5">
            <div class="row g-4">

                <!-- Left side (Planteer)-->
                <div class="col-12 col-md-3">
                    <h6 class="fw-semibold mb-5">Planteer</h6>
                    <ul class="list-inline mb-0 text-secondary small">
                        <li class="list-inline-item"><a href="#" class="text-decoration-none text-dark bi bi-facebook"></a></li>
                        <li class="list-inline-item"><a href="#" class="text-decoration-none text-dark bi bi-linkedin"></a></li>
                        <li class="list-inline-item"><a href="#" class="text-decoration-none text-dark bi bi-youtube"></a></li>
                        <li class="list-inline-item"><a href="#" class="text-decoration-none text-dark bi bi-instagram"></a></li>
                    </ul>
                </div>

                <!-- Right side (Topics grouped)-->
                <div class="col-12 col-md-9 ms-md-auto">
                    <div class="row gx-2 gy-4 justify-content-md-end">
                        <div class="col-6 col-md-3">
                            <h6 class="text-uppercase text-secondary small mb-3">Topic</h6>
                            <ul class="list-unstyled small mb-0">
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <h6 class="text-uppercase text-secondary small mb-3">Topic</h6>
                            <ul class="list-unstyled small mb-0">
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <h6 class="text-uppercase text-secondary small mb-3">Topic</h6>
                            <ul class="list-unstyled small mb-0">
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                                <li><a href="#" class="text-decoration-none text-dark">Page</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>