{%extends 'main/base.html'%}
{% load static %}

{% block title %}Flora{%endblock%}

{% block header-content %}
<div class="header-main">
    <video autoplay muted loop playsinline class="bg-video">
    <source src="{% static 'video/header-video.mp4'%}" type="video/mp4">
</video>


<div class="hero-content">
    <h2>Planteer</h2>
    <h3>Plant Database For Plants Lovers</h3>

    <form class="d-flex" role="search" action="{%url 'plants:search_plant_view'%}" method="get">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" value="{{ request.GET.search }}">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
</div>
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="more-main">
    <h3>Plants</h3>
    <a href="{%url 'plants:all_plants_view'%}" class="btn"><h6>More <span class="material-symbols-outlined">arrow_right_alt</span></h6></a>
    </div>
    <p>Learn more about plants</p>

    <!--card-->
    <div class="row g-4">
{% for plant in plants %}
  <div class="col-md-6">
    <div class="card h-100">
      <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ plant.image.url }}" class="plant-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ plant.name_plant }}</h5>
            <p class="card-text">{{ plant.category}}</p>
            <p class="card-text">
              <small class="text-body-secondary">{{ plant.created_at }}</small>
            </p>
            <a href="{% url 'plants:plant_detail_view' plant.id %}" class="btn btn-main">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

</div>



{% endblock %}