<nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container py-2">
        <a class="navbar-brand fw-semibold" href="{% url 'main:home_view' %}">Planteer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav align-items-lg-center gap-lg-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plants:all_plant_view' %}">All Plants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:contact_view' %}">Contact Us</a>
                </li>

                {% if request.user.is_staff and perms.plants.add_plant %}
                <li class="nav-item">
                    <a class="btn btn-dark btn-sm px-3 py-2" href="{% url 'plants:add_plant_view' %}">Add Plant</a>
                </li>
                {% endif %}
                
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <div class="d-flex align-items-center text-nowrap">
                        <a class="nav-link p-0" href="{% url 'accounts:user_profile_view' request.user.username %}">Welcome {{ request.user.username }},</a>
                        <a class="nav-link p-0" href="{% url 'accounts:log_out' %}?next={{ request.path }}">Log Out</a>
                    </div>
                    {% else %}
                    <div class="dropdown">
                        <a class="btn btn-light btn-sm px-3 py-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Account
                        </a>
                
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'accounts:sign_in' %}?next={{ request.path }}">Sign In</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts:sign_up' %}?next={{ request.path }}">Sign Up</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>