{% extends 'base.html' %}

{% block title %} Sign up new user {% endblock %}

{% block content %}

<div class="countainer d-flex flex-column justify-content-center align-items-center">

    <h2 class="mb-4 mt-4">Sign In</h2>
    <form action="{% url 'accounts:sign_in' %}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}" class="d-flex flex-column gap-3 w-50" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}

       

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
            <label for="floatingInput">User name</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
</div>

{% endblock %}