{% extends 'main/base.html' %}

{% block title %}All Plants | Planteer{% endblock %}

{% block content %}
<section class="page-banner banner-green">
    <div class="container">
        <span class="mini-tag">Plant Store</span>
        <h1>All Plants</h1>
        <p>Browse plants by category and edible status and country .</p>
    </div>
</section>

<section class="container section-space">
    <form method="GET" class="filter-bar">
        <select name="category">
            <option value="">All Categories</option>
            {% for value, label in categories %}
            <option value="{{ value }}" {% if request.GET.category == value %}selected{% endif %}>
                {{ label }}
            </option>
            {% endfor %}
        </select>

        <select name="is_edible">
            <option value="">All</option>
            <option value="true" {% if request.GET.is_edible == 'true' %}selected{% endif %}>Edible</option>
            <option value="false" {% if request.GET.is_edible == 'false' %}selected{% endif %}>Not Edible</option>
        </select>

        <select name="country">
            <option value="">All Countries</option>
            {% for country in countries %}
            <option value="{{ country.id }}" {% if request.GET.country == country.id|stringformat:"s" %}selected{% endif %}>
                {{ country.name }}
            </option>
            {% endfor %}
        </select>

        <button type="submit">Filter</button>
    </form>

    <div class="plant-grid">
        {% for plant in plants %}
        {% include 'plants/includes/plant_card.html' %}
        {% endfor %}
    </div>

    <div class="pagination-box">
        {% if plants.has_previous %}
        <a href="?page={{ plants.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ plants.number }} of {{ plants.paginator.num_pages }}</span>

        {% if plants.has_next %}
        <a href="?page={{ plants.next_page_number }}">Next</a>
        {% endif %}
    </div>

</section>
{% endblock %}