{%extends 'main/base.html'%}
{% load static %}

{% block title %}Sign up Page{%endblock%}


{% block content %}
<div class="text-center justify-content-center col sign-style" >
    <h3 class="mb-3 ">Welcome to Flora 🌿</h3>
    <div class="d-flex justify-content-center align-items-center">
    
        
        <div class="card shadow-sm p-5" style="width: 500px;">
            <form action="{%url 'account:sign_up_view'%}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name" name="first_name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name" name="last_name">
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div>

                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>

                <div class="mt-5">
                    <button type="submit" class="btn custom-btn w-100">
                        Sign Up
                    </button>   
                </div>

            </form>

            <p class="mt-4"> Already have an account?  <a href="{%url 'account:sign_in_view'%}" >Sign in</a></p>
        

        </div>


</div>
    
    
    
</div>






{% endblock %}