{% extends 'base.html' %}

{% block content %}
<section class="d-flex flex-row">
    <div class="img-plant">
        <img src="{{ plant.image.url }}" class="img-fluid mb-3">
    </div>

    <div class="info-plant">
        <h1>{{ plant.name }}</h1>
        <h4 class="text-muted">{{ plant.category }}</h4>
        <p>{{ plant.about }}</p>
        <p><strong>Native to:</strong></p>

            <div class="d-flex flex-wrap gap-2">
                {% for c in plant.countries.all %}
                    <div class="section-flag d-flex align-items-center gap-1 mb-4">
                        {% if c.flag %}
                            <img src="{{ c.flag.url }}" width="25" height="25" style="border-radius: 50%;">
                        {% endif %}
                        <small style="font-size: 16px;"><a href="{% url 'plants:country_plants_view' c.id %}">{{ c.name }}</a></small>
                    </div>
                {% endfor %}
            </div>

        <p><strong>Is Edible: </strong>
            {% if plant.is_edible %}
            Yes
            {% else %}
            No
            {% endif %}
        </p>
        <p><strong>Used For:</strong><br> {{ plant.used_for }}</p>
        {% if request.user.is_staff %}

        <div class="mb-3">
            <a href="{% url 'plants:update_plant_view' plant.id %}" class="btn btn-warning">Edit</a>

            <form action="{% url 'plants:delete_plant_view' plant.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"><a href="/plants/{{plant.id}}/delete/">Delete</a></button>
            </form>
        </div>
        {% endif %}

    </div>
    
</section>


<hr>

<h3>Comments</h3>
<div class="d-flex flex-column gap-3 pb-4">
    {% for review in reviews %}
        <div class="d-flex flex-column shadow p-2 rounded " style="border: solid #000000;">
            <h4>{{review.user.first_name}} {{review.user.last_name}}</h4>
            <p>{{review.comment}}</p>
            <p class="text-muted">{{review.created_at}}</p>
        </div>
    {% endfor %}
</div>


{% if request.user.is_authenticated %}
<h3>Add Comment</h3>
<form  class="d-flex flex-column gap-2 pb-4" action="{% url 'plants:add_review_view' plant.id %} " method="post">
    {% csrf_token %}
    <textarea  class="form-control" name="comment" required minlength="3" placeholder="comment..."></textarea>

    <button type="submit" class="btn btn-primary"><a href="/plants/{{plant.id}}/detail/">Add review</a></button>
</form>

{% endif %}






<h3>Related Plants</h3>
    {% include 'plants/card_plants.html' %}

{% endblock %}