{% extends 'main/base.html' %}
{% load static %}

{% block title %} Messages - Planteer {% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="messages-page-title mb-5">Messages from Users</h1>

    <div class="row g-4">
        <div class="col-md-6">
            <div class="msg-card-custom h-100">
                <div class="d-flex align-items-start gap-3">
                    <div class="user-icon-box">
                        <i class="far fa-user-circle"></i>
                    </div>
                    <div class="msg-main-body">
                        <h5 class="user-full-name mb-1">Atheer Abdullah</h5>
                        <a href="mailto:atheer@gmail.com" class="user-email-link mb-2 d-block">atheer@gmail.com</a>
                        <div class="msg-text-wrapper">
                            <p class="msg-paragraph">
                                I really love the Ghiras project! The way it connects us with our Saudi agricultural heritage is amazing. Keep up the great work.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="msg-card-custom h-100">
                <div class="d-flex align-items-start gap-3">
                    <div class="user-icon-box">
                        <i class="far fa-user-circle"></i>
                    </div>
                    <div class="msg-main-body">
                        <h5 class="user-full-name mb-1">Sara Abdullah</h5>
                        <a href="mailto:sara@gmail.com" class="user-email-link mb-2 d-block">sara@gmail.com</a>
                        <div class="msg-text-wrapper">
                            <p class="msg-paragraph">
                                Could you add more categories for indoor plants? I'd love to learn more about how to take care of them in our local climate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="msg-card-custom h-100">
                <div class="d-flex align-items-start gap-3">
                    <div class="user-icon-box">
                        <i class="far fa-user-circle"></i>
                    </div>
                    <div class="msg-main-body">
                        <h5 class="user-full-name mb-1">Lamees Abdullah</h5>
                        <a href="mailto:lamees@gmail.com" class="user-email-link mb-2 d-block">lamees@gmail.com</a>
                        <div class="msg-text-wrapper">
                            <p class="msg-paragraph">
                                The website design is very clean and professional. The user experience on the contact page is smooth. Great job on the UI!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="msg-card-custom h-100">
                <div class="d-flex align-items-start gap-3">
                    <div class="user-icon-box">
                        <i class="far fa-user-circle"></i>
                    </div>
                    <div class="msg-main-body">
                        <h5 class="user-full-name mb-1">Fahad Abdullah</h5>
                        <a href="mailto:fahad@gmail.com" class="user-email-link mb-2 d-block">fahad@gmail.com</a>
                        <div class="msg-text-wrapper">
                            <p class="msg-paragraph">
                                I have some suggestions for the Saudi Esports section. It would be cool to see a timeline of upcoming local tournaments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}